@model BookEntity
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


    <div class="container"> 
        <form action="/Book/DeleteData/@Model.Id" method="post"> 
            <table class="table table-dark">
                <tbody>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">BookTitle</th>
                        <th scope="col">Author</th>
                        <th scope="col">InStock</th>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">@Model.Id</th>
                        <td>@Model.BookTitle</td>
                        <td>@Model.Author</td>
                        <td>@Model.InStock</td>
                        </tr>
                        </tbody>
            </table>
            <p>Do You Really Want to Delete The Data!!</p>
            <button type="submit">yess</button>
            <a href="/Book/Index">No! Back to Home</a>
        </form>
    </div>

